In [1]:
# para impotarlo
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [2]:
# mostrar los datos
data = sc.parallelize([('Jordan', 100), ('Jason', 150)])
data.collect()

[('Jordan', 100), ('Jason', 150)]

In [3]:
# mostrar un dato
data_show = sc.parallelize([('Jordan', 100), ('Jason', 150)]).collect()
data_show[0]

('Jordan', 100)

In [4]:
# sumatoria
numbers = [1,2,3,4,5,6,7,8,9,10]
data_2 = sc.parallelize(numbers)
data_2.reduce(lambda a,b: a + b)

55

In [5]:
# leer de un archivo
lines = sc.textFile("data/text.txt")
lineLengths = lines.map(lambda s: len(s))
totalLength = lineLengths.reduce(lambda a, b: a + b)
totalLength

33

In [6]:
# obtiene los nombres distintos
names = sc.parallelize(["Raul", "Francisco", "Raul", "Francisco"])
names_d = names.distinct()
names_d.collect()

['Raul', 'Francisco']

In [7]:
# union de conjuntos
pair = sc.parallelize([2,4,6,8,10])
odd = sc.parallelize([1,3,5,7,9])
union = pair.union(odd)
union.collect()

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [8]:
# interseccion
conjunto_1 = sc.parallelize([1,2,3,4,5])
conjunto_2 = sc.parallelize([3,4,5,6,7])
interseccion = conjunto_1.intersection(conjunto_2)
interseccion.collect()

[3, 4, 5]

In [9]:
# filtro
numbers_2 = sc.parallelize([1,2,3,4,5,6,7,8,9,10])
numbers_2_pair = numbers_2.filter(lambda n: n%2 is 0)
numbers_2_pair.collect()

[2, 4, 6, 8, 10]

In [14]:
import pyspark as spark
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [58]:
df = spark.read.format("csv").option("header", "true").load("data/people.csv")
# df = spark.read.json("data/people.json")

In [59]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [63]:
df.show()

+-------+---+
|   Name|Age|
+-------+---+
|Michael| 25|
|   Andy| 19|
| Justin| 30|
+-------+---+

In [60]:
df.head()

Row(Name='Michael', Age='25')

In [61]:
df.count()

3

In [65]:
df.select("Name").show()

+-------+
|   Name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [66]:
df.select(df['name'], df['age'] + 1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     26.0|
|   Andy|     20.0|
| Justin|     31.0|
+-------+---------+

In [67]:
df.filter(df['age'] > 21).show()

+-------+---+
|   Name|Age|
+-------+---+
|Michael| 25|
| Justin| 30|
+-------+---+